
.card_container{
  width: 77%;
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
  flex-wrap: wrap;
}
.card{
  width: 480px;
  height: 580px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px gray;
  border: 2px solid rgba(215, 201, 201, 0.819);
  margin: 40px 10px;
}
.card-head{
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}

.card-head h3{
  margin-right: 55px;
  font-size: 16px;
}

.card-head .info{
  margin-right: 20px;
}

.card .card-description{
  width: 100%;
  font-size: 16px;
  font-weight: 350;
  padding: 20px 0;
  border-bottom: 2px solid rgba(82, 87, 81, 0.866);
  text-align: center;
}

.card .card-content{
  width: 100%;
}

