.home{
  width: 100%;
}

.home h2{
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #0029FF;
  margin-left: 187px;
  margin-top: 20px;
}




